<!DOCTYPE html>
<html>
   <head>
      <title>HTML Backgorund Color</title>
   </head>
   <body style="background-color:black;">
      <h1 style = "font-family: arial; font-size:30px; color: white">Trivia Scoring App</h1>

      <p style = "font-family: arial; font-size:35px; color: white"> <a class="button" href="/start"> Start </a> </p>
      <img src="https://assets.bigcartel.com/product_images/219441907/thor_WallArt_Micah_Ulrich_Poster_art.png?auto=format&fit=max&w=2000" alt="hello" style="float:right" height=625 width=465>

      <p style = "color: white"> (Art by Micah Ulrich) </p> 
   </body>
</html>