<form action="/start" method="post"> 
    Number of rounds: <input type="number" min="0" name="num_rounds"> <br> <br>  
    Number of questions per round: <input type="number" min="1" name="num_qs"> <br> <br>  
    Number of teams: <input type="number" name="num_teams">

    <br> <br> <input type="submit"> 
</form> 