<form action="/after_start" method="post"> 
    Number of rounds: <input type="number" min="0" name="num_rounds"> <br> <br>  
    Number of questions per round: <input type="number" min="1" name="num_qs"> <br> <br>  
    Team 1 Name: <input type="text" name="team1name"> <br> 
    Team 2 Name: <input type="text" name="team2name"> <br> 
    Team 3 Name: <input type="text" name="team3name"> <br> 
    Team 4 Name: <input type="text" name="team4name"> <br> 
    Team 5 Name: <input type="text" name="team5name"> <br> 
    Team 6 Name: <input type="text" name="team6name"> <br> 
    Team 7 Name: <input type="text" name="team7name"> <br> 
    Team 8 Name: <input type="text" name="team8name"> <br> 
    Team 9 Name: <input type="text" name="team9name"> <br> 
    Team 10 Name: <input type="text" name="team10name"> <br> 

    <br> <br> <input type="submit"> 
</form> 